.footer-container{
    background-color:#2f3640;
    width: 1787px;
    height: 200px;
    text-align: center;
}
.footer{
    color:white;
    height: 200px;
    padding-top: 30px;


}

.li {
    display: inline;
    border: 15px
}