<div class="main-container-home" >
    <div class="container-home">
       <h2>Bienvenido a Shopéame</h2>
       <div class="container-paragraph" >
        <h5>¿Qué es Shopéame</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, nostrum sunt alias facere aperiam fugit esse neque? Provident repellendus laudantium qui facilis voluptatum rem non dolor eius dicta a neque aut porro ea laborum voluptates vero dolore, mollitia architecto? Doloribus perspiciatis, eveniet pariatur optio eligendi dolor aspernatur reiciendis sapiente voluptatum id porro odio labore sequi nam iure quam sit vero ducimus mollitia omnis, ex similique, saepe fuga! Quasi dolore assumenda, doloribus soluta delectus atque quis. Neque id consequuntur reprehenderit tempora!</p>
       </div>
       <div class="container-paragraph" >
        <h5>Para que puedo usar Shopéame</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum eum ipsum ea praesentium nobis velit corporis? Laudantium obcaecati ab ipsum beatae! Temporibus voluptatum ipsum repellat cupiditate, deleniti veniam error fugiat, nisi voluptates, aliquid blanditiis doloribus ab quo. Natus quasi laboriosam voluptatum saepe? Soluta quos inventore quasi itaque, magnam facere perspiciatis.</p>
       </div>
        <div class="container-paragraph" >
            <h5>¿Quiénes hacemos Shopéame</h5>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo, nostrum? Ea iure incidunt commodi deleniti sed tempora non, iusto pariatur possimus quam, impedit quos ad quod doloribus, porro dignissimos laudantium voluptate modi sint voluptatibus alias. Odit iste est officia omnis numquam itaque maxime ipsam ducimus nisi blanditiis facilis architecto eius perferendis explicabo quae praesentium rerum animi laudantium quasi, sequi dolorem enim velit illum reprehenderit? Laboriosam esse perspiciatis aspernatur magnam quos ad harum, illo architecto. Sequi cum reiciendis facilis neque magnam.</p>
        </div>
        <div class="container-paragraph" >
            <h5>¿Es seguro usar Shopéame?</h5>
       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam veritatis velit voluptas ratione veniam cumque voluptate eos omnis molestiae in exercitationem, sequi fugiat cum tempora repellat, aperiam eveniet quidem nam corrupti vero totam beatae officia fuga enim. Doloribus aliquam facilis, ipsum sint sunt culpa corrupti totam fuga laborum nobis quibusdam!</p>
        </div>
    </div>
    
</div>