.container-home{
    width: 1000px;
    height: 550px;
    margin-left: 300px;
    background-color: white

}
.main-container-home{
    background-color: #bdc3c7;
    padding: 50px;

}
.container-paragraph{
    margin:20px
}